// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 background: url('https://s-media-cache-ak0.pinimg.com/originals/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.png') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}